 
 .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;


    form{
        width: 35rem;
        margin-right: 1rem;
        text-align: center;

        gap: 1;

        flex: 0.3;

        min-width: 300px;

        margin-top: 2rem;
        margin-bottom: 2rem;

        input, textarea{
            width: 100%;
            padding: 1rem;
            margin: 0.5rem 0;
            border: 1px solid rgba(0, 0, 0, 0.137);
            border-radius: 0.3rem;
        }

        textarea{
            resize: none;
            outline: none;
        }

        button{
            padding: 0.8rem;
            width: 40%;
            background: rgb(18, 54, 74);
            border: none;
            color: #fff;
            border-radius: 0.5rem;
            cursor: pointer;

            transition: filter 0.2s;

            &:hover{
                filter: brightness(0.8);
            }
        }
    }
 }

 .contactBox{
    width: 35rem;
    padding: 1rem;
    background: rgb(18, 54, 74);

    gap: 1;

    flex: 0.4;

    min-width: 400px;

   
    
    height: 500px;
    text-align: center;
    border-radius: 0.8rem;

    margin-left: 5rem;
    overflow: auto;

    input{
         width: 100%;
            padding: 1rem;
            margin: 0.5rem 0;
            border: 1px solid rgba(0, 0, 0, 0.137);
            border-radius: 0.3rem;
    }
 }


 .CardBox{
    background:  rgb(160, 174, 195);
    border-radius: 0.5rem;
    text-align: left;
    max-height: 200px;
    box-sizing: content-box;




    & + div {
        margin-top: 1rem;
    }

    .titleName{
        font-size: 1.5rem;
        text-align: left;
        padding: 0.1rem 1rem;
        font-weight: 600;
        margin: 0.5rem;
    }

    .BoxTitle{
        display: flex;
        justify-content: space-between;
        align-items: center;

        color: #001;

        a{
            color: rgb(44, 66, 96);
            cursor: pointer;

            margin-left: 0.5rem;


            &:hover{

                font-weight: bold ;
            }
        }

    }



    .extras{
        margin-right: 1rem;
    }
    .datas{

        font-weight: 400;

        padding: 0.5rem 1.5rem;
        p{
            margin: 0;
        }
    }

 
 }



 